@media screen and (max-width: 1024px) {
  body {
    font-size: 20px;
    line-height: 23px;
  }

  h2 {
    font-size: 50px;
    line-height: 75px;
  }

  h3 {
    font-size: 28px;
    line-height: 31px;
  }

  .container {
    width: var(--desctop-small-width);
  }

  .section {
    padding: 60px 0;
}

  .title--underline {
    margin-bottom: 60px;
    padding-bottom: 20px;
  }

  .header__container {
    padding: 49px 0 48px;
  }

  .menu-toggle {
    display: block;
    width: 32px;
    height: 18px;
  }

  .menu-toggle__icon {
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    transition: 0.25s ease-in-out;
  }
  
  .toggle-icon__element {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    left: 0;
    background-color: var(--color-primary-light);
    transform: rotate(0deg);
    opacity: 1;
    transition: 0.25s ease-in-out;
  }

  .toggle-icon__element:nth-child(even) {
    left: 50%;
  }

  .toggle-icon__element:nth-child(odd) {
    left: 0;
  }

  .toggle-icon__element--top {
    top: 0;
  }

  .toggle-icon__element--middle {
    top: calc(50% - 1px);
  }

  .toggle-icon__element--bottom {
    top: calc(100% - 2px); 
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(1),
  .menu-toggle.is-active .toggle-icon__element:nth-child(6) {
    transform: rotate(45deg);
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(2),
  .menu-toggle.is-active .toggle-icon__element:nth-child(5) {
    transform: rotate(-45deg);
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(1) {
    left: 1px;
    top: 2px;
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(2) {
    left: calc(50% - 4px);
    top: 2px;
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(5) {
    left: 1px;
    top: 13px;
  }

  .menu-toggle.is-active .toggle-icon__element:nth-child(6) {
    left: calc(50% - 4px);
    top: 13px;
  }

  .header__navigation {
    display: none;
  }

  .mobile-navigation {
    display: none;
  }

  .mobile-navigation.is-active {
    display: block;
  }

  .welcome__slider {
    max-width: 700px;
    justify-self: end;
    align-items: flex-end;
  }

  .slider__navigation {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    gap: 45px;
  }

  .slider__slides-counter {
    font-size: 20px;
  }

  .slider__dots {
    gap: 25px;
  }

  .slider__dot {
    width: 12px;
    height: 12px;
  }

  .welcome__content-wrapper {
    padding-top: 50px;
    max-width: 445px;
  }

  .welcome__title {
    font-size: 50px;
    line-height: 90px;
  }

  .welcome__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .welcome__btn {
    width: 330px;
    height: 60px;
    line-height: 60px;
  }

  .visiting__list {
    justify-content: center;
    column-gap: 108px;
    row-gap: 60px;
  }

  .visiting__item {
    max-width: 330px;
  }

  .visiting__item-title {
    font-size: 28px;
    line-height: 31px;
  }

  .visiting__item-title::before {
    right: 50%;
  }

  .visiting__item-type {
    font-size: 16px;
    line-height: 19px;
  }

  .explore__container {
    flex-direction: column;
  }

  .explore .wrapper--thin {
    width: 100%;
  }

  .section__text:not(:last-of-type) {
    margin-bottom: 0;
  }

  .explore .wrapper--thin .section__text:last-child {
    display: none;
  }

  .explore__slider {
    margin-top: 0;
  }

  .explore .wrapper--wide {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
    line-height: 21px;
  }

  h2 {
    font-size: 40px;
    line-height: 60px;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
  }

  .section {
    padding: 40px 0 80px;
  }

  .container {
    width: var(--tablet-width);
  }

  .title--underline {
    margin-bottom: 40px;
  }

  .header__container {
    padding: 35px 0 34px;
  }

  .welcome__container {
    align-items: center;
  }

  .welcome__slider {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    width: 100%;
  }

  .slider__navigation {
    height: 100px;
    margin-top: 0;
    justify-content: center;
}

  .welcome__content-wrapper {
    max-width: 332px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
}

  .welcome__title {
    font-size: 40px;
    line-height: 60px;
  }

  .welcome__text {
    font-size: 20px;
    line-height: 23px;
  }

  .welcome__btn {
    display: none;
  }

  .visiting__list {
    justify-content: center;
    column-gap: 56px;
    row-gap: 40px;
  }

  .visiting__item {
    min-width: 280px;
    max-width: calc((100% - 56px) / 2);
  }

  .visiting__item-title {
    font-size: 22px;
    line-height: 25px;
  }

  .visiting__item-title::before {
    right: 40%;
  }
  .visiting__item-subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  .visiting__item-type {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 16px;
    line-height: 19px;
  }

  
  h2 {
    font-size: 28px;
    line-height: 40px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .section {
    padding: 40px 0;
  }


  .container {
    width: var(--mobile-big-width);
  }

  .header__container {
    padding: 35px 0;
  }

  .logo > svg {
    width: 29px;
    height: 16px;
  }

  .logo__text {
    font-size: 16px;
    line-height: 18px;
  }

  .slider__navigation {
    height: 80px;
    gap: 25px;
    padding: 0;
  }

  .slider__slides-counter {
    font-size: 16px;
  }

  .slider__dots {
    gap: 10px;
  }

  .slider__dot {
    width: 7px;
    height: 7px;
  }

  .slider__arrows {
    gap: 15px;
  }

  .slider__arrow svg {
    width: 20px;
  }

  .welcome__title {
    font-size: 28px;
    line-height: 40px;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 19px;
  }

  .visiting__list {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .visiting__item {
    max-width: 280px;
  }

  .visiting__item-title {
    font-size: 18px;
    line-height: 20px;
  }

  .visiting__item-title::before {
    right: 47%;
  }
  .visiting__item-subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .visiting__item-type {
    font-size: 16px;
    line-height: 19px;
  }
}
