:root {
  --bg-dark: #030303;
  --black: #000000;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --headeing1: 80px;
  --heading2: 32px;
  --font3: 28px;
  --font4: 18px;
  --margin-b: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.7;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  background-color: var(--bg-dark);
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin-bottom: var(--margin-b);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 74px 0 76px;
}

.logo {
  flex-shrink: 0;
}

.logo > svg {
  display: inline-block;
  margin-right: 20px;
}

.logo__text {
  font-family: 'Forum', cursive;
  font-size: var(--font3);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 76px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: var(--white);
  font-weight: 100;
  padding: 17px 0 20px;
  transition: color 0.2s ease-in-out;
}

.navigation__link:hover,
.navigation__link:active {
  color: var(--font-gold);
  transition: color 0.2s ease-in-out;
}

.welcome {
  min-height: 750px;
  background-color: var(--bg-dark);
  background-image: url('assets/img/louvre-main.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
}

.welcome__text-wrapper {
  max-width: 600px;
  padding: 114px 0 246px
}

.section__title {
  font-family: 'Forum', cursive;
  font-size: var(--headeing1);
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: var(--margin-b);
}

.welcome__title {
  color: var(--white);
  line-break: normal;
  margin-bottom: 26px;
}

.welcome__text {
  color: var(--white);
  font-size: var(--font3);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: var(--margin-b);
}

.welcome__btn {
  display: block;
  width: 360px;
  height: 75px;
  padding: 20px 0;
  border-radius: 10px;
  background-color: var(--dark-red);
  color: var(--white);
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color ease-in-out 0.2s;
}

.welcome__btn:hover,
.welcome__btn:active {
  background-color: var(--font-gold);
  transition: background-color ease-in-out 0.2s;
}


.section__title--darker {
  color: var(--font-gold);

}

.title--underline {
  position: relative;
  padding-bottom: 25px;
}

.title--underline::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--dark-red);
}

.visiting__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-b);
}

.visiting__item {
  display: block;
  position: relative;
  flex-basis: calc((100% - 60px * 2) / 3);
  margin-bottom: var(--margin-b);
  transition: background-color 0.2s ease-in-out;
}

.visiting__item:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

.visiting__item > * {
  position: inherit;
  z-index: 1;
}

.visiting__item:not(:nth-of-type(3n)) {
  margin-right: 60px;
}

.visiting__item-img {
  object-fit: cover;
  margin-bottom: 25px;
}

.visiting__item-title {
  position: relative;
  font-family: 'Forum', cursive;
  font-size: var(--headeing2);
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 21px;
}

.visiting__item-title::before {
  position: absolute;
  content: '';
  width: 300px;
  height: 2px;
  bottom: -9px;
  left: 0;
  background-color: var(--dark-red);
}

.visiting__item-subtitle {
  font-weight: 100;
  margin-bottom: 10px;
}

.visiting__item-type {
  font-size: var(--font4);
  font-weight: 100;
}
