:root {
  --bg-dark: #030303;
  --black: #000000;
  --dark-red: #710707;
  --text-highlight: #caaa7d;
  --font-gold: #9d8665;
  --white: #ffffff;
  --headeing1: 80px;
  --heading2: 32px;
  --font3: 28px;
  --font4: 18px;
  --margin-b: 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.7;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  display: block;
}

input {
  display: block;
}

fieldset {
  border: none;
}

.container {
  max-width: calc(100% - 40px);
  width: 1440px;
  margin: 0 auto;
}

.section {
  padding: 75px 0;
}

.header {
  background-color: var(--bg-dark);
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 75px 0;
}

.logo {
  flex-shrink: 0;
}

.logo > svg {
  display: inline-block;
  margin-right: 16px;
}

.logo path {
  transition: fill 0.4s ease-in-out;
}

.logo:hover path{
  fill: var(--font-gold);
  transition: fill 0.4s ease-in-out;
}

.logo:hover .logo__text {
  color: var(--font-gold);
  transition: color 0.4s ease-in-out;
}

.logo__text {
  font-family: "Forum", cursive;
  font-size: var(--font3);
  line-height: 1.1;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: color 0.4s ease-in-out;
}

.navigation__list {
  display: flex;
  max-width: 720px;
}

.navigation__item {
  margin-right: 75px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  padding: 13px 0;
  font-weight: 100;
  line-height: 1.1;
  color: var(--white);
  letter-spacing: 2px;
  transition: color 0.4s ease-in-out;
}

.navigation__link:hover,
.navigation__link:active {
  color: var(--font-gold);
  transition: color 0.4s ease-in-out;
}

.welcome {
  min-height: 750px;
  background-color: var(--bg-dark);
  background-image: url("assets/img/louvre-main.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(50% + 353px) 100%;
}

.welcome__content-wrapper {
  max-width: 600px;
  padding: 115px 0 246px
}

.section__title {
  font-family: "Forum", cursive;
  font-size: var(--headeing1);
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section__title--light {
  color: var(--white);
}

.welcome__title {
  margin-bottom: 26px;
}

.welcome__text {
  margin-bottom: var(--margin-b);
  font-size: var(--font3);
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 2px;
  color: var(--white);
}

.welcome__btn {
  display: block;
  width: 360px;
  height: 75px;
  font-weight: 100;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: background-color ease-in-out 0.4s;
}

.welcome__btn:hover,
.welcome__btn:active {
  background-color: var(--font-gold);
  transition: background-color ease-in-out 0.4s;
}

.section__title--darker {
  color: var(--font-gold);
}

.title--underline {
  position: relative;
  margin-bottom: var(--margin-b);
  padding-bottom: 28px;
}

.title--underline::before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: 0;
  background-color: var(--dark-red);
}

.visiting__list {
  display: flex;
  flex-wrap: wrap;
}

.visiting__item {
  display: block;
  position: relative;
  flex-basis: calc((100% - 60px * 2) / 3);
  margin-bottom: 78px;
  transition: background-color 0.4s ease-in-out;
}

.visiting__item:hover {
  background-color: #f1f1f1;
  transition: background-color 0.4s ease-in-out;
}

.visiting__item > * {
  position: inherit;
  z-index: 1;
}

.visiting__item:not(:nth-of-type(3n)) {
  margin-right: 60px;
}

.visiting__item:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.visiting__item-img {
  margin-bottom: 25px;
  object-fit: cover;
}

.visiting__item-title {
  position: relative;
  font-family: "Forum", cursive;
  font-size: var(--heading2);
  font-weight: 400;
  line-height: 1.1;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 21px;
}

.visiting__item-title::before {
  position: absolute;
  content: "";
  bottom: -11px;
  left: 0;
  right: 31.6%;
  height: 2px;
  background-color: var(--dark-red);
  transition: right 0.4s ease-in-out;
}

.visiting__item:hover .visiting__item-title::before {
  right: 0;
  transition: right 0.4s ease-in-out;
}

.visiting__item-subtitle {
  margin-bottom: 11px;
  font-weight: 100;
  line-height: 1.15;
  color: var(--black);
}

.visiting__item-type {
  font-size: var(--font4);
  font-weight: 100;
  line-height: 1.15;
  color: var(--black);
}

.explore {
  background-color: var(--bg-dark);
}

.explore__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.wrapper--thin {
  width: 660px;
}

.wrapper--wide {
  width: 720px;
}

.explore__image {
  margin-top: 15px;
}

.section__text {
  font-weight: 300;
  line-height: 1.7;
  color: var(--white);
}

.section__text:not(:last-of-type) {
  margin-bottom: 25px;
}

.text-highlighter {
  color: var(--text-highlight);
}

.video {
  padding: 90px 0 74px;
}

.video__container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  gap: 40px;
}

.video__text-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.section__text--dark {
  color: var(--black)
}

.player__preview {
  position: relative;
  min-height: 629px;
  background-color: var(--black);
  background-image: url("assets/img/video.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 85px;
  padding: 25px 41px;
  row-gap: 30px;
  background-color: var(--black);
}

.player__btn {
  position:relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.player__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.4s ease-in-out;
}

.player__btn:hover::before,
.player__btn:active::before {
  filter: invert(63%) sepia(0%) saturate(0%) hue-rotate(83deg) brightness(95%) contrast(96%);
  transition: filter 0.4s ease-in-out;
}

.player__btn--preview {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(73deg) brightness(110%) contrast(101%);
  transform: translate(-50%, -50%);
}

.player__btn--preview::before {
  background-image: url("assets/svg/preview-play.svg");
}

.player__btn--back,
.player__btn--play,
.player__btn--forward,
.player__btn--volume,
.player__btn--fullscreen {
  filter: invert(85%) sepia(0%) saturate(267%) hue-rotate(145deg) brightness(87%) contrast(83%);
}

.player__btn--play {
  width: 23px;
  height: 30px;
}

.player__btn--back,
.player__btn--forward {
  width: 27px;
  height: 30px;
}

.player__btn--back::before {
  background-image: url("assets/svg/back.svg") ;
}

.player__btn--play::before {
  background-image: url("assets/svg/play.svg") ;
}

.player__btn--forward::before {
  background-image: url("assets/svg/forward.svg") ;
}

.player__btn--volume {
  margin-right: 20px;
  width: 38px;
  height: 30px;
}

.player__btn--volume::before {
  background-image: url("assets/svg/volume.svg");
}

.player__btn--fullscreen {
  width: 36px;
  height: 36px;
}

.player__btn--fullscreen::before {
  background-image: url("assets/svg/fullscreen.svg");
}

.controls__volume {
  display: flex;
  align-items: center;
}

.controls__progress-bar {
  width: 820px;
  max-width: 100%;
}
.controls__volume-slider {
  width: 155px;
  max-width: 100%;
}

input[type=range] {
  -webkit-appearance: none; 
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  color: transparent;
  background: transparent; 
  border-color: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

input[type=range] {
  height: 8px;
  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #C4C4C4 40%, #C4C4C4 100%);
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.controls__progress-bar[type=range] {
  background: linear-gradient(to right, #24809E 0%, #24809E 47%, #C4C4C4 40%, #C4C4C4 100%);
}

.tickets {
  background-color: var(--bg-dark);
}

.tickets__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.fieldset-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.order-form___legend {
  margin-bottom: 10px;
  font-size: var(--font3);
  line-height: 1.15;
  font-weight: 700;
  color: var(--white);
}

.order-form___legend--ticket-type {
  margin-bottom: 50px;
}

.order-form___legend--right {
  text-align: right;
}

.order-form__ticket-type {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
  padding: 7px 0;
}

.order-form__ticket-type:last-of-type {
  margin-bottom: 0;
}

.order-form__ticket-type:hover .radio__btn::before {
  border: 2px solid var(--font-gold);
  transition: border 0.4s ease-in-out;
}

.order-form__ticket-type:hover .radio__btn::after {
  background-color: var(--font-gold);
  transition: background 0.4s ease-in-out;
}

.order-form__ticket-type:hover .radio__label {
  color: var(--font-gold);
  transition: color 0.4s ease-in-out;
}

.radio__label {
  font-weight: 300;
  line-height: 1.1;
  color: var(--white);
  transition: color 0.4s ease-in-out;
}

.radio__btn {
  position: relative;
  width: 17px;
  height: 17px;
  margin-right: 23px;
}

.radio__btn::before {
  position: absolute;
  box-sizing: border-box;
  content: "";
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: var(--bg-dark);
  transition: border 0.4s ease-in-out;
}

.radio__btn::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: background 0.4s ease-in-out;
}

.radio__btn:checked::after {
  background-color: var(--white);
}

.order-form__ticket-category:not(:last-of-type) {
  margin-bottom: 32px;
}

.order-form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 300px;
  line-height: 1.2;
  color: var(--white);
}

.order-form__amount-wrapper {
  display: flex;
  border: 3px solid var(--white);
}

.order-form__amount {
  width: 150px;
}

.order-form__btn {
  height: 44px;
  padding: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.order-form__btn path {
  transition: fill 0.4s ease-in-out;
}

.order-form__btn:hover path, 
.order-form__btn:active path {
  fill: var(--font-gold);
  transition: fill 0.4s ease-in-out;
}

.order-form__qty {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  background-color: var(--black);
  border: none;
}

.order-form__qty::-webkit-outer-spin-button,
.order-form__qty::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.order-form__total,
.order-form__btn-buy {
  align-self: flex-end;
}

.order-form__total {
  margin-bottom: 50px;
  font-size: var(--font3);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: var(--white);
}

.order-form__btn-buy {
  width: 175px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;;
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 2px;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.order-form__btn-buy:hover,
.order-form__btn-buy:active {
  background-color: var(--font-gold);
  transition: background-color 0.4s ease-in-out;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.contacts__list {
  margin-top: 10px;
  min-width: calc(100% - 960px - 60px);
}

.contacts__item-wrapper {
  display: flex;
}

.contacts__item-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item-wrapper dt{
  margin-right: 8px;
  font-weight: 300;
  line-height: 1.2;
}

.contacts__item {
  font-weight: 300;
  line-height: 1.2;
}

.contacts__item--title {
  margin-bottom: 16px;
  font-size: var(--font3);
  font-weight: 500;
  line-height: 1.2;
}

.contacts__link {
  color: inherit;
  transition: color 0.4s ease-in-out;
}

.contacts__item:hover .contacts__link {
  color: var(--font-gold);
  transition: color 0.4s ease-in-out;
}

.footer {
  background-color: var(--bg-dark);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  margin-right: 145px;
  padding: 10px 0;
}

.navigation__list--footer {
  display: block;
  max-width: 366px;
  margin-right: auto;
  column-count: 2;
  column-gap: 156px;
}

.navigation__item--footer {
  margin-right: 0;
}

.navigation__link--footer {
  margin-right: auto;
  padding: 12px 0 12px;
  line-height: 1.2;
}

.social-list {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 12px 0;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--white);
  transition: border-color 0.4s ease-in-out;
}

.social-list__item:not(:last-child) {
  margin-right: 24px;
}

.socail-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socail-list__link path {
  fill: var(--white);
  transition: fill 0.4s ease-in-out;
}

.social-list__item:hover {
  border-color: var(--font-gold);
  transition: border-color 0.4s ease-in-out;
}

.social-list__item:hover path {
  fill: var(--font-gold);
  transition: fill 0.4s ease-in-out;
}
